body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ddd;
  position: relative;
  margin: 0; }
  body, body * {
    box-sizing: border-box; }

#nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 0; }
  #nav button {
    margin: 0 5px 10px;
    padding: 10px 15px;
    border: 3px solid #454565;
    color: #454565;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer; }
    #nav button:hover, #nav button.active {
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      background-color: #454565;
      color: white; }

.counters {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background-color: #454565; }
  .counters #lines,
  .counters #cells {
    color: #08d808;
    font-weight: 700;
    padding: 2px 3px; }

#box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: relative;
  z-index: 0; }
  #box .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative; }
    #box .row:hover {
      background-color: #08d808; }
    #box .row div {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      height: 14px; }
      #box .row div.active {
        background-color: #888; }
